* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #A5A7AF;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #4A4A4A;
}

.heading-student-name {
    padding-top: 6px;
    font-size: 24px;
}

header {
    text-align: center;
    background-color: #FAFAFA;
    margin-bottom: 20px;
}

.navigation-list {
    list-style: none;
    padding:0;
    width: 100%;
}

.navigation-list-item {
    display: block;
    padding: 10px;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color:white;
}

.navigation-link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #504A4A;
    font-weight: bolder;
    font-size: 14px;
}

.profile-image {
    width: 60%;
    margin: 20px;
}

p {
    width: 85%;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.5;
}

section {
    display: block;
    margin-top: 80px;
    text-align:center;
}

.section-heading {
    font-size: 14px;
    margin-bottom: 40px;
    font-weight: normal;
}

.portfolio-entry-heading {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.portfolio-entry-image {
    width: 85%;
    margin: 0;
}

.portfolio-entry-text {
    color: #4A4A4A;
    margin-bottom: 25px;
    width: 80%;
}

.important-information p {
    line-height: 2;
}

.important-text {
    font-weight: bold;
}

.important-label {
    display: inline-block;
    padding-right: 10px;
}

footer {
    display: flex;
    color: #4A4A4A;
    font-weight: bold;
    font-size: 12px;
    justify-content: space-between;
    width: 85%;
    margin: 80px auto 20px auto;
}

.backtotop-link {
    text-decoration: none;
    color: #4A4A4A;
}

.footer-320 { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    width: 100%
}

.footer-right {
    text-align:right;
}
.footer-768 { display: none; }

@media (min-width: 768px) { 
    header {
        padding-top: 35px;
    }

    .heading-student-name {
        padding-top: 0px;
        font-size: 25px;
    }

    .navigation-list {
        margin-top: 35px;
    }
    
    .navigation-list-item {
        display: inline;
        margin: 10px;
    }    

    .profile-image {
        float : right;
        margin-right: 30px;
        width: 288px;
        height: 180px;
    }

    .profile {
        overflow: auto;
        margin-top: 45px;
    }

    .profile p {
        font-size: 20px;
        margin: 20px;
        margin-top: 15px;
        text-align: left;
    }

    section {
        margin-top: 85px;
    }

    .portfolio-entries {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 28px;
        margin-left : 22px;
        margin-right: 22px;
    }

    .portfolio-entry {
        margin: 8px;
        margin-bottom : 0px;
    }

    .portfolio-entry-image {
        width: 100%;
    }

    #contact {
        margin-top: 100px;
    }

    #contact p {
        font-size: 21px;
    }

    .important-information {
        margin-top: 23px;
    }

    .important-information p {
        line-height: 2.2;
    }

    .footer-320 { display: none; }
    .footer-768 { 
        display: grid; 
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    footer {
        width: 95%;
        margin-top: 5px;
    }
   
    .footer-left {
        font-size: 14px;
        padding: 10px;
    }

    .footer-navigation {
        float:right;
    }

    .footer-navigation-list {
        list-style: none;
        padding:0;
        width: 100%;
    }
    
    .footer-navigation-list-item {
        display: inline;
        padding: 10px;
        background-color:white;
    }
    
    .footer-navigation-link {
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: #504A4A;
        font-weight: bolder;
        font-size: 12px;
    }    
}

@media (min-width: 1024px) { 
    body {
        background-color: #FAFAFA;
    }

    header {
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
    }

    .nav-bar {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .heading-student-name {
        text-align: left;
        font-size: 26px;
    }

    .navigation {
        text-align: right;
    }

    .navigation-list {
        margin-top: 27px;
    }
    
    .navigation-list-item {
        display: inline;
        margin: 10px;
        background-color: transparent;
    }    

    .navigation-list-item:last-child {
        margin-right: 0px;
        padding-right: 0px;
    }

    .profile-image {
        float : right;
        margin: 0px;
        margin-top: 5px;
        width: 369px;
        height: 215px;
    }

    .profile p {
        font-size: 20px;
        margin: 0px;
        text-align: left;
    }

    .profile {
        overflow: auto;
        margin-top: 35px;
    }

    section {
        background-color: #FFFFFF;
    }

    #portfolio {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        padding-top: 40px;
        width: 94%;
    }

    .portfolio-entries {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 16px;
        margin-left : 22px;
        margin-right: 22px;
    }

    #contact {
        margin-top: 75px;
    }

    #contact .section-heading {
        margin-bottom: 35px;
    }

    #contact p {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        margin-top: 70px;
        margin-left: auto; 
        margin-right: auto; 
        width: 88%
    }
}
